<a href="https://colab.research.google.com/github/Hubertmeteor/sales-prediction-and-analysis/blob/main/model_rf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Predict the department-wise sales for each store for the following

year

In [ ]:
!pip install -U joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (1.3.2)

In [ ]:
!pip install lz4

Collecting lz4
  Downloading lz4-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 6.5 MB/s eta 0:00:00
Installing collected packages: lz4
Successfully installed lz4-4.3.3

In [ ]:
import pandas as pd
merged_data = pd.read_csv('/content/merged_data.csv')

In [ ]:
merged_data.head(5)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Type,Size,Dept,Weekly_Sales,IsHoliday_y,Year,Month,Year_Month
0,1,2010-05-02,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,0,151315,1,24924.50,0,2010,5,2010_5
1,1,2010-05-02,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,0,151315,2,50605.27,0,2010,5,2010_5
2,1,2010-05-02,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,0,151315,3,13740.12,0,2010,5,2010_5
3,1,2010-05-02,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,0,151315,4,39954.04,0,2010,5,2010_5
4,1,2010-05-02,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,0,0,151315,5,32229.38,0,2010,5,2010_5

In [ ]:
merged_data.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_x,Type,Size,Dept,Weekly_Sales,IsHoliday_y,Year,Month
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000
mean,22.200546,60.090059,3.361027,2590.074819,879.974298,468.087665,1083.132268,1662.772385,171.201947,7.960289,0.070358,0.589912,136727.915739,44.260317,15981.258123,0.070358,2010.968591,6.478580
std,12.785297,18.447931,0.458515,6052.385934,5084.538801,5528.873453,3894.529945,4207.629321,39.159276,1.863296,0.255750,0.666337,60980.583328,30.492054,22711.183519,0.255750,0.796876,3.324757
min,1.000000,-2.060000,2.472000,0.000000,-265.760000,-29.100000,0.000000,0.000000,126.064000,3.879000,0.000000,0.000000,34875.000000,1.000000,-4988.940000,0.000000,2010.000000,1.000000
25%,11.000000,46.680000,2.933000,0.000000,0.000000,0.000000,0.000000,0.000000,132.022667,6.891000,0.000000,0.000000,93638.000000,18.000000,2079.650000,0.000000,2010.000000,4.000000
50%,22.000000,62.090000,3.452000,0.000000,0.000000,0.000000,0.000000,0.000000,182.318780,7.866000,0.000000,0.000000,140167.000000,37.000000,7612.030000,0.000000,2011.000000,6.000000
75%,33.000000,74.280000,3.738000,2809.050000,2.200000,4.540000,425.290000,2168.040000,212.416993,8.572000,0.000000,1.000000,202505.000000,74.000000,20205.852500,0.000000,2012.000000,9.000000
max,45.000000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,1.000000,2.000000,219622.000000,99.000000,693099.360000,1.000000,2012.000000,12.000000

In [ ]:
print(merged_data.columns)

Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday_x', 'Type', 'Size', 'Dept', 'Weekly_Sales', 'IsHoliday_y',
       'Year', 'Month', 'Year_Month'],
      dtype='object')

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Load your merged_data DataFrame
# Assuming 'merged_data' is your DataFrame
# ...

# Convert 'Date' column to datetime
merged_data['Date'] = pd.to_datetime(merged_data['Date'])

# Separate features and target variable
X = merged_data.drop(['Weekly_Sales'], axis=1)
y = merged_data['Weekly_Sales']

# Convert datetime column to numeric representation
X['Date'] = X['Date'].astype(np.int64) // 10**9  # Convert datetime to Unix timestamp

# Continue with the rest of your code...

# Handling outliers by capping extreme values
quantile_cols = ['Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment']
X_capped = X.copy()
X_capped[quantile_cols] = X_capped[quantile_cols].clip(lower=X_capped[quantile_cols].quantile(0.05), upper=X_capped[quantile_cols].quantile(0.95), axis=1)

# Check and handle infinite values
X_capped.replace([np.inf, -np.inf], np.nan, inplace=True)

# Handle missing values with mean imputation
imputer = SimpleImputer(strategy='mean')
X_imputed = pd.DataFrame(imputer.fit_transform(X_capped), columns=X.columns)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_imputed, y, test_size=0.2, random_state=42)

# Initialize the model
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

print("Number of NaN values in y:", y.isna().sum())
print("Number of NaN values in X_imputed:", X_imputed.isna().sum())
print("NaN values in X_capped before imputation:", X_capped.isna().sum())
print("NaN values in X_imputed after imputation:", X_imputed.isna().sum())


# Make predictions
predictions = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
print(f'Root Mean Squared Error: {rmse}')

Number of NaN values in y: 0
Number of NaN values in X_imputed: Store           0
Date            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday_x     0
Type            0
Size            0
Dept            0
IsHoliday_y     0
Year            0
Month           0
Year_Month      0
dtype: int64
NaN values in X_capped before imputation: Store           0
Date            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday_x     0
Type            0
Size            0
Dept            0
IsHoliday_y     0
Year            0
Month           0
Year_Month      0
dtype: int64
NaN values in X_imputed after imputation: Store           0
Date            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday_x     0
Type            0
Size            0
Dept            0
IsHoliday_y     0
Year            0
Month           0
Year_Month      0
dtype: int64
Root Mean Squared Error: 4527.838278393463

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print metrics
print(f'Mean Absolute Error (MAE): {mae}')
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared (R2): {r2}')

Mean Absolute Error (MAE): 1746.6269272967713
Mean Squared Error (MSE): 20501319.475285083
Root Mean Squared Error (RMSE): 4527.838278393463
R-squared (R2): 0.961003726739924

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor

# Assuming you have a trained model named 'model'
# You should replace this with your actual trained model

# Features for prediction
input_data = {
    'Store': [1],
    'Date': ['2025-01-01'],
    'Temperature': [26.0],
    'Fuel_Price': [2.5],
    'MarkDown1': [1000.0],
    'MarkDown2': [500.0],
    'MarkDown3': [200.0],
    'MarkDown4': [300.0],
    'MarkDown5': [150.0],
    'CPI': [200.0],
    'Unemployment': [7.0],
    'IsHoliday_x': [0],
    'Type': ['0'],
    'Size': [150000],
    'Dept': [1],
    'Weekly_Sales': [0.0],
    'IsHoliday_y': [0],
    'Year': [2025],
    'Month': [1],
    'Year_Month': ['2025-01']
}

# Create a DataFrame for prediction
input_df = pd.DataFrame(input_data)

# Convert 'Date' column to datetime
input_df['Date'] = pd.to_datetime(input_df['Date'])

# Convert datetime column to numeric representation
input_df['Date'] = input_df['Date'].astype(np.int64) // 10**9

# Convert 'Year_Month' column to numeric representation
input_df['Year_Month'] = pd.to_datetime(input_df['Year_Month']).astype(np.int64) // 10**9

# Handle missing values with mean imputation
imputer = SimpleImputer(strategy='mean')
input_df_imputed = pd.DataFrame(imputer.fit_transform(input_df), columns=input_df.columns)

# Drop 'Weekly_Sales' from input features
input_df_features = input_df_imputed.drop('Weekly_Sales', axis=1)

# Make predictions
predictions = model.predict(input_df_features)

# Add the predictions to the DataFrame
input_df_imputed['Predicted_Sales'] = predictions

# Print or use the predictions
print("Predicted Sales:", input_df_imputed['Predicted_Sales'].values[0])

Predicted Sales: 25117.69389999999